<section class="footer" style="background-color:pink"
		 data-ng-controller="FooterController"
		 ng-init="keyCount=0;ngInitTopLevel()">
	<!--Dirty[<span ng-bind="singlePageStatesFactory['modelDirty']" ></span>]-->
	<!--<span src='/img/input2.png' data-ng-show="SppSvc.getModelDirty()">-->
		<!--Editing-->
	<!--</span>-->

	<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">
	<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">
	<div data-ng-show='SppSvc.getModelDirty()'>Save</div>
	<button data-ng-hide='SppSvc.getModelDirty()'>Saved</button>

	<!--<div data-ng-hide='SppSvc.getModelDirty()'>Saved</div>-->

	whichEditorShowing[<span ng-bind="SppSvc.getWhichEditorShowing()" ></span>]
	Selected [<span ng-bind="SppSvc.getSelectedItem()"></span>]
	&nbsp;<input type="checkbox" title="reload warnings on"  id='idcheckbox_reloadWarning' ng-model=reloadWarning />reloadWarn


	<!--ccccccccccccccccccccccGetCtrlDirty[<span ng-bind="$scope.get1('modelDirty')" ></span>]-->

	footerhk
</section>

<!--<section class="footer" style="background-color:pink"-->
	 <!--data-ng-controller='FooterControllerx'-->


<!--</section>-->
