<section class="footer" style="background-color:pink"
		 data-ng-controller="SinglePageGetCtrl1"
		 ng-init="keyCount=0;ngInitTopLevel()">
	<!--Dirty[<span ng-bind="singlePageStatesFactory['modelDirty']" ></span>]-->
	Dirtyxxxxxxxxxxxxxxxxxx[<span ng-bind="get1()['key1']" ></span>]
	<!--ccccccccccccccccccccccGetCtrlDirty[<span ng-bind="$scope.get1('modelDirty')" ></span>]-->

	footerhk
</section>

<!--<section class="footer" style="background-color:pink"-->
	 <!--data-ng-controller='FooterControllerx'-->
		<!-->-->


<!--</section>-->
