<section data-ng-controller="BookiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Bookies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="booky in bookies" data-ng-href="#!/bookies/{{booky._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="booky.created | date:'medium'"></span>
				by
				<span data-ng-bind="booky.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="booky.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!bookies.$resolved || bookies.length">
    	No Bookies yet, why don't you <a href="/#!/bookies/create">create one</a>?
    </div>
</section>