<section data-ng-controller="CommandsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Commands</h1>
	</div>

	IN LISTCOMMANDS 2

	<a ui-sref="createCommand">sref to createCommand</a>



	<button ng-click="this.hkAddNewCommandData()">hkAddNewCommandData</button>

	commands.len:
	<div ng-bind='this.commands.length'></div>
	this.counthk:
	<div ng-bind='this.counthk'></div>

	<div class="list-group">
		<a data-ng-repeat="command in commands" data-ng-href="/commands/{{command._id}}" class="list-group-item">
			<div xxxng-click='alert("hi mom")'>
				<small class="list-group-item-text">
					Modified
					<span data-ng-bind="command.created | date:'medium'"></span>
					by
					<span data-ng-bind="command.user.displayName"></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="command.commandDescription"></h4>
				<h4 class="list-group-item-heading" data-ng-bind="command.commandUrl"></h4>
				<h4 class="list-group-item-heading" data-ng-bind="command.commandCode"></h4>
			</div>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!commands.$resolved || commands.length">
		No Commands yet, why don't you <a href="/#!/commands/create">create one</a>?
	</div>
</section>



