<div ng-address-bar></div><br>



<section class="WholePage"
		 data-ng-controller="SinglepageUstodosController"
		 ng-init="keyCount=0;ngInitTopLevel()">









	<!--<div data-ng-include="'/modules/ustodos/views/singlepage-ustodos-top-part.client.view.html'"></div>-->

	<!--<div data-ng-include="'/modules/core/views/footer.client.view.html'" class="navbar-fixed-bottom"></div >-->

	<span id='topDivInFindUstodos'
		  style="
		 	border-width:10px medium thick 10px;
		 	top:56px;
			display:none;
		 	position: fixed;
		 	xxbackground-color:lightblue;
		 	display:inline-block;
		 ">
		<!--<section data-ng-controller="UstodosController" ng-keydown="count = count + 4;" ng-init="count=0">-->
		<!--<input type="text" ng-model="currentVisibleCounter"/>-->

		<!--<button ng-click="yyutdact()">Do</button>-->

		<!--<button ng-init='ngInitTinyMceButton()' ng-click="testTinyMce()">testTinyMce()</button>-->
		<!--<button xxng-init='xxtoggleReadOnly()' ng-click="toggleReadOnly()">toggleReadOnly CK EDIT()</button>-->
		<!--<input focus-on="focusMe"/>-->
		<!--<input class="hkToolbarElement" type='image' style="height:20px;"-->
		<!--ng-click='toggleVisibilityToNext()'-->
		<!--src='modules/ustodos/img/UsToDoanimalsblack.jpg'-->
		<!--title="Next Editor"-->
		<!--style='height:32px;'-->
		<!--/>-->
		<!-- section_toolbar
		.----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
		| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
		| |  _________   | | |     ____     | | |     ____     | | |   _____      | | |   ______     | | |      __      | | |  _______     | |
		| | |  _   _  |  | | |   .'    `.   | | |   .'    `.   | | |  |_   _|     | | |  |_   _ \    | | |     /  \     | | | |_   __ \    | |
		| | |_/ | | \_|  | | |  /  .--.  \  | | |  /  .--.  \  | | |    | |       | | |    | |_) |   | | |    / /\ \    | | |   | |__) |   | |
		| |     | |      | | |  | |    | |  | | |  | |    | |  | | |    | |   _   | | |    |  __'.   | | |   / ____ \   | | |   |  __ /    | |
		| |    _| |_     | | |  \  `--'  /  | | |  \  `--'  /  | | |   _| |__/ |  | | |   _| |__) |  | | | _/ /    \ \_ | | |  _| |  \ \_  | |
		| |   |_____|    | | |   `.____.'   | | |   `.____.'   | | |  |________|  | | |  |_______/   | | ||____|  |____|| | | |____| |___| | |
		| |              | | |              | | |              | | |              | | |              | | |              | | |              | |
		| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
		'----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
		-->
		<input class="hkToolbarElement" type='image' style="border:0px solid gray;height:20px;"
			   ng-click="clearText()"                src='/img/ClearText.png'
			   title="Clear Text"
				/>
		&nbsp;
		<input class="hkToolbarElement" type='image' style="border:0px solid gray;height:20px;"
			   ng-click="processCommand(enumCommands.COMMAND_SEARCH, $scope.enumProcessCommandCaller.HTMLSTARALLBUTTON, '*', '*', '*')"                src='/img/Asterisk.png'
			   title="Search all"
				/>
		&nbsp;
		<input class="hkToolbarElement" type='image' style="height:8px;"
			   ng-click='toggleVisibilityTo0()'                src='/img/input0OneLine.png'
			   title="One Line Editor"
				/>
		&nbsp;
		<input class="hkToolbarElement" type='image' style="height:14px;width:20px;"
			   ng-click='toggleVisibilityTo1()'                src='/img/input1MultiLine.png'
			   title="Multi-Line Editor"
				/>
		&nbsp;
		<!--<input class="hkToolbarElement" type='image'  style='height:25px;'-->
		<!--ng-click='toggleVisibilityTo2()'                src='/img/input2.png'-->
		<!--title="Rich Editor (CKEditor)"-->
		<!--/>-->

		<!--<input class="hkToolbarElement" type='image'  style='height:25px;'-->
		<!--ng-click='toggleCkeToolebar()'                src='/img/input2.png'-->
		<!--title="Rich Editor (CKEditor) click to add toolbars = no mouseover"-->
		<!--/>-->

		&nbsp;
		<input class="hkToolbarElement" type='image'  style='height:25px;'
			   ng-click='toggleVisibilityTo3()'                src='/img/input2.png'
			   title="Rich Editor (TinyMCE)"
				/>

		<!--<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">-->
		<!--<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">-->


		&nbsp;<input type="checkbox" title="Dynamic Search (as you type)" id='idcheckbox_dynammicSearch' ng-model=dynamicSearch  />LiveFilter
		&nbsp;<input type="checkbox" title="Update search results display after a write/save" id='idcheckbox_modelCheckboxUpdateOnWrite' ng-model=modelCheckboxUpdateOnWrite  />UpdateOnWrite
		&nbsp;<input type="checkbox" title="if checked, control+enter submits a command while enter is just a line feed (allows multiline record entries)" id='idcheckbox_modelCheckboxCtrlEnterToSave' ng-model=modelCheckboxCtrlEnterToSave  />CtrlEnterToSave
		&nbsp;<input type="checkbox" title="reload warnings on"  id='idcheckbox_reloadWarning' ng-model=reloadWarning />reloadWarn

		<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">
		<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">



		<!--xx&nbsp;<span ng-model=$scope.lockMouseover> </span>yy-->
		<!--<span ng-bind-html='$scope.lockMouseover'></span>-->

		<!--DynamicSearch [<span ng-bind='dynamicSearch'></span>]-->

		<!--<a ui-sref="HKTestSref2">ui-sref=HKTestSref2</a>-->

		<span ng-keyup='onKeyUp("line 63", $event, this.ENUM_KEYEVENTCALLER_KEYUPSPAN)'>

			<!--<input class="hkToolbarElement" type='image'-->
			<!--ng-click='toggleVisibilityToNext()'-->
			<!--src='modules/ustodos/img/UsToDoanimalsblack.jpg'-->
			<!--title="toggleVisibilityToNext"-->
			<!--style='height:32px;'-->
			<!--/>-->
			<!-- section_3_inputs
			 .----------------. .----------------. .----------------. .-----------------..----------------. .----------------. .----------------. .----------------.
			| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
			| |    ______    | | |              | | |     _____    | | | ____  _____  | | |   ______     | | | _____  _____ | | |  _________   | | |    _______   | |
			| |   / ____ `.  | | |              | | |    |_   _|   | | ||_   \|_   _| | | |  |_   __ \   | | ||_   _||_   _|| | | |  _   _  |  | | |   /  ___  |  | |
			| |   `'  __) |  | | |              | | |      | |     | | |  |   \ | |   | | |    | |__) |  | | |  | |    | |  | | | |_/ | | \_|  | | |  |  (__ \_|  | |
			| |   _  |__ '.  | | |              | | |      | |     | | |  | |\ \| |   | | |    |  ___/   | | |  | '    ' |  | | |     | |      | | |   '.___`-.   | |
			| |  | \____) |  | | |              | | |     _| |_    | | | _| |_\   |_  | | |   _| |_      | | |   \ `--' /   | | |    _| |_     | | |  |`\____) |  | |
			| |   \______.'  | | |   _______    | | |    |_____|   | | ||_____|\____| | | |  |_____|     | | |    `.__.'    | | |   |_____|    | | |  |_______.'  | |
			| |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |              | |
			| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
			 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
			-->
			<!-- ================ INPUT#0 ======================== maps to $scope.onKeyUp -->
			<input id="idInput0TypeText"
				   type="text"
				   xxng-keyup='this.onKeyUp("line 85", $event, this.ENUM_KEYEVENTCALLER_INPUT0)'
				   ng-keyup='this.onKeyUp("line 102", $event )'
				   class="input-textarea"
				   placeholder="Search / Input / Command"
				   title='Search (case insensitive, order insensitive) / Save / Command '
				   ng-blur="eventBlur0InputText()" required>
			   <!--ng-model="inputbind"-->

			<!--ng-bind='inputbind'-->
			<!--data-ng-model="commandFromInputBox"-->

			<!--<a href="javascript:NLBfadeBg('div1hk','#FF0000','#FFFFFF','1000');">Fade DIV-->


			<!-- ================ INPUT#1 ======================== -->
			<!--section_per_editor 0-->
			<span id='idMediumEditor'
				  ng-init='focusOnId("idInput0TypeText")'
				  ng-blur="eventBlur1Medium()"
				  ng-keyup='this.onKeyUp("line 98", $event)'
				  title='search (case insensitive, order insensitive)'></span >

			<!-- ================ INPUT#2 CKE CURRENT DEFAULT ======================== -->
			<span id='idDivForCkeEditorTextarea'
				  ng-keyup='this.onKeyUp("line 102")'
				  ng-blur="xxpropagateTextChanges()">
				<textarea id="idCkeEditorTextarea"
						  ng-blur="this.alerthk()"
						  ng-keyup='this.onKeyUp("line 135", $event )'
						  name="idCkeEditorTextarea"
						  idxx="xxeditor1" rows="10" cols="80">
				</textarea>
			</span>

			<!-- ================ INPUT#3 ======================== -->
			<div id='idDivForTinyMceEditorTextarea'>
				<!--was Search / Input-->
				<textarea ng-blur="eventBlur3mce()" id="idTinyMceTextArea"></textarea>
			</div>


			<!-- section_ABOVE_TABLE_CHECKALL_ETC
			 .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
			| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
			| |      __      | | |   ______     | | |     ____     | | | ____   ____  | | |  _________   | | |              | | |  _________   | | |      __      | | |   ______     | | |   _____      | | |  _________   | | |              | | |     ______   | | |  ____  ____  | | |  _________   | | |     ______   | | |  ___  ____   | | |   ______     | | |     ____     | | |  ____  ____  | | |              | | |  _________   | | |  _________   | | |     ______   | |
			| |     /  \     | | |  |_   _ \    | | |   .'    `.   | | ||_  _| |_  _| | | | |_   ___  |  | | |              | | | |  _   _  |  | | |     /  \     | | |  |_   _ \    | | |  |_   _|     | | | |_   ___  |  | | |              | | |   .' ___  |  | | | |_   ||   _| | | | |_   ___  |  | | |   .' ___  |  | | | |_  ||_  _|  | | |  |_   _ \    | | |   .'    `.   | | | |_  _||_  _| | | |              | | | |_   ___  |  | | | |  _   _  |  | | |   .' ___  |  | |
			| |    / /\ \    | | |    | |_) |   | | |  /  .--.  \  | | |  \ \   / /   | | |   | |_  \_|  | | |              | | | |_/ | | \_|  | | |    / /\ \    | | |    | |_) |   | | |    | |       | | |   | |_  \_|  | | |              | | |  / .'   \_|  | | |   | |__| |   | | |   | |_  \_|  | | |  / .'   \_|  | | |   | |_/ /    | | |    | |_) |   | | |  /  .--.  \  | | |   \ \  / /   | | |              | | |   | |_  \_|  | | | |_/ | | \_|  | | |  / .'   \_|  | |
			| |   / ____ \   | | |    |  __'.   | | |  | |    | |  | | |   \ \ / /    | | |   |  _|  _   | | |              | | |     | |      | | |   / ____ \   | | |    |  __'.   | | |    | |   _   | | |   |  _|  _   | | |              | | |  | |         | | |   |  __  |   | | |   |  _|  _   | | |  | |         | | |   |  __'.    | | |    |  __'.   | | |  | |    | |  | | |    > `' <    | | |              | | |   |  _|  _   | | |     | |      | | |  | |         | |
			| | _/ /    \ \_ | | |   _| |__) |  | | |  \  `--'  /  | | |    \ ' /     | | |  _| |___/ |  | | |              | | |    _| |_     | | | _/ /    \ \_ | | |   _| |__) |  | | |   _| |__/ |  | | |  _| |___/ |  | | |              | | |  \ `.___.'\  | | |  _| |  | |_  | | |  _| |___/ |  | | |  \ `.___.'\  | | |  _| |  \ \_  | | |   _| |__) |  | | |  \  `--'  /  | | |  _/ /'`\ \_  | | |              | | |  _| |___/ |  | | |    _| |_     | | |  \ `.___.'\  | |
			| ||____|  |____|| | |  |_______/   | | |   `.____.'   | | |     \_/      | | | |_________|  | | |   _______    | | |   |_____|    | | ||____|  |____|| | |  |_______/   | | |  |________|  | | | |_________|  | | |   _______    | | |   `._____.'  | | | |____||____| | | | |_________|  | | |   `._____.'  | | | |____||____| | | |  |_______/   | | |   `.____.'   | | | |____||____| | | |   _______    | | | |_________|  | | |   |_____|    | | |   `._____.'  | |
			| |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | |
			| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
			 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
			 -->
		</span>

		<span style="xxbackground-color: cornflowerblue ">
			<span id='idSpanSearchedFor'>Current search [<span id='idSpanSearchedForSearchText'
					  ng-mouseover='this.eventMouseoverCurrentSearch()'
					  ng-bind='searchedFor'
						></span>]
			</span>

			Count <span ng-bind=(this.ustodosFiltered.length)></span >
			of <span ng-bind=(this.ustodos.length)></span >
			&nbsp;

			<!-- ======================== SELECT DROPDOWN ONE OF 20 ACTIONS -->
			<select
					id='selectId'
					ng-change="this.utdEventSelectedEngine()"
					ng-model="this.commands[0]"
					title='select command to apply to the entered text'
					ng-options="command as command.commandDescription2 for
				command in commands | orderBy:'commandDescription2'"
					ng-mouseover="showSelectDropdown()"
					>
			</select>

			<!-- ========================= SECTION_FILTER ICON AND TEXTBOX ===================== -->
			<img ng-src="/img/filterIcon2.jpg" class="per-row-icons-trashimage"
				 alt="{{image.name}}"  title='Filter within search results below'
				 xxxxng-mouseover="this.filterToLinksOnly ()"
				 xxng-click="this.filterToLinksOnly ()"
					>
			&nbsp;

			<!-- RESEARCH SECTION_FILTER ICON AND TEXTBOX -->
			<!--Filter: <span ng-bind=('('+this.searchedFor+'+'+this.filterText+')')  ng-mouseover="this.eventMouseoverRow3(this.searchedFor)"-->


			<!--<button ng-click="this.buttonClickSearchStar()">*</button>-->
			<!--<button ng-click="this.buttonClickSearchClear()">Clear</button>-->

			<!--<WORKS p ng-repeat="command in commands">{{command}}</p>-->

			<button ng-click="testButton(-2)" title="testButton">TestButton</button>




			<!--<div ng-controller="Ctrl1">-->
				<!--<h2>Ctrl1 - List</h2>-->
				<!--<ul>-->
					<!--<li ng-repeat="item in list1()">{{item}}</li>-->
				<!--</ul>-->
			<!--</div>-->
			<!--<hr />-->
			<!--<div ng-controller="Ctrl2">-->
				<!--<h2>Ctrl2 - Add</h2>-->
				<!--<form ng-submit="add(newItem); newItem = '';">-->
					<!--<input type="text" ng-model="newItem">-->
					<!--<br />-->
					<!--<input class="btn" type="submit">-->
				<!--</form>-->
			<!--</div>-->




			<!--<br><a ng-href="http://google.com/search?q={{this.searchedFor}}">http://google.com/search?q={{this.searchedFor}}</a>-->
			<!--<br><a ng-href="{{this.searchedForAsLink}}">{{this.searchedForAsLink}}</a>-->

			<!--<button ng-click="testButton(-2)">TestButton</button>-->
			<!--<p ng-repeat="operator in operators">{{operator.commandDescription}}</p>-->

			<div   style='
				xxwidth: 100%;
				padding: 0px;
				xxdisplay: inline-block;
				xxborder: 1px solid greenyellow;
				margin: 0px' class='hkcssPosTable'>

				<!--<table style="width: 100%;">-->
				<!--<tr>-->
				<!--<td align="left">-->
				<!--<div style="word-break:break-all;">LongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWordLongWord</div>-->
				<!--</td>-->
				<!--<td align="right">-->
				<!--<span style="display: inline;">Foo</span>-->
				<!--</td>-->
				<!--</tr>-->
				<!--</table>-->




				<!-- SECTION_ HEADER ROW SELECT ALL CHECKBOX AND TRASH ICON -->
				<span>
					&nbsp;<input ng-click='checkBoxClickedToggleAll()' id='checkBoxAll' type="checkbox"/> All

					&nbsp;<img class="per-row-icons-trashimage" ng-src="/img/gnome_edit_delete.png"
							   alt="{{image.name}}"  title='Delete Selected'
							   ng-click="operationOnChecked_Delete()"
					>
				&nbsp;
				</span>
				<input id="idInputTextFilter"  type="text" title='Restrict within search result' name="input" ng-model="filterText"  ng-keyup='updateUstodosFiltered(filterText)'
					   xxng-pattern="example.word" required ng-trim="false">

				<!-- SECTION_ TEXT FILTER ICON AND DYNAMIC SEARCH BOX -->


				<!--Snippet: <textarea ng-model="snippet" cols="60" rows="3"></textarea>-->
				<!--<table>-->
				<!--<tr id="bind-html-with-sanitize">-->
				<!--<td>ng-bind-html</td>-->
				<!--<td>Automatically uses $sanitize</td>-->
				<!--<td><pre>&lt;div ng-bind-html="snippet"&gt;<br/>&lt;/div&gt;</pre></td>-->
				<!--<td>aa<div ng-bind-html="snippet"></div>bb</td>-->
				<!--</tr>-->
				<!--<tr id="bind-html-with-trust">-->
				<!--<td>ng-bind-html</td>-->
				<!--<td>Bypass $sanitize by explicitly trusting the dangerous value</td>-->
				<!--<td>-->
				<!--<pre>&lt;div ng-bind-html="deliberatelyTrustDangerousSnippet()"&gt;-->
				<!--&lt;/div&gt;</pre>-->
				<!--</td>-->
				<!--<td>aa<div ng-bind-html="deliberatelyTrustDangerousSnippet()"></div>bb</td>-->
				<!--</tr>-->
				<!--<tr id="bind-default">-->
				<!--<td>ng-bind</td>-->
				<!--<td>Automatically escapes</td>-->
				<!--<td><pre>&lt;div ng-bind="snippet"&gt;<br/>&lt;/div&gt;</pre></td>-->
				<!--<td>aa<div ng-bind='snippet'></div>bb</td>-->
				<!--</tr>-->
				<!--</table>-->


			</div>
		</span>

		<div 		style="
			width:75%;
			overflow:scroll;
			height:1000px;
			top:5px;
			z-index: -2;
			xxbackground-color: steelblue;
			position:relative"
				>
			<table id='hktable1'>
				<!--<tr ng-repeat="ustodo in ustodos ">f-->
				<!--&lt;!&ndash; timeAgo &ndash;&gt;f-->
				<!--<td><span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>f-->
				<!--&lt;!&ndash; html &ndash;&gt;f-->
				<!--<td>f-->
				<!--<span contenteditable="true"f-->
				<!--onclick = "this.contentEditable = true;"f-->
				<!--ng-bind-html="ustodos[$index].html"></span>f-->
				<!--</td>f-->
				<!--</tr>f-->

				<!--<button ng-click="alert ('ff')" ng-init="count=0">-->
				<!--  SECTION_PER_ROW PERROW section_perrow
				 .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
				| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
				| |   ______     | | |  _________   | | |  _______     | | |              | | |  _______     | | |     ____     | | | _____  _____ | |
				| |  |_   __ \   | | | |_   ___  |  | | | |_   __ \    | | |              | | | |_   __ \    | | |   .'    `.   | | ||_   _||_   _|| |
				| |    | |__) |  | | |   | |_  \_|  | | |   | |__) |   | | |              | | |   | |__) |   | | |  /  .--.  \  | | |  | | /\ | |  | |
				| |    |  ___/   | | |   |  _|  _   | | |   |  __ /    | | |              | | |   |  __ /    | | |  | |    | |  | | |  | |/  \| |  | |
				| |   _| |_      | | |  _| |___/ |  | | |  _| |  \ \_  | | |              | | |  _| |  \ \_  | | |  \  `--'  /  | | |  |   /\   |  | |
				| |  |_____|     | | | |_________|  | | | |____| |___| | | |   _______    | | | |____| |___| | | |   `.____.'   | | |  |__/  \__|  | |
				| |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | |
				| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
				 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
				-->

				<!-- SECTION__ NG-REPEAT NG-IF FILTER PER ROW EXPERIMENTAL -->
				<!--<tr  ng-repeat="ustodo in ustodosFiltered"-->
				<!--<tr  ng-repeat="ustodo in ustodosFiltered"-->
				<!--<tr  ng-repeat="ustodo in ustodosFiltered | filterUstodos:filterText"-->
				<!--<tr  ng-repeat="ustodo in ustodosFiltered | filterUstodos:filterText"-->






				<div id='perRowOnly'>
					<tr  ng-repeat="ustodo in ustodosFiltered "

						 ng-mouseover="this.eventMouseoverRow2($index)"
						 ng-keyup="event=$event; myFnOnKeyUp($index, $event)" ng-keydown="myFnOnKeyDown($index, $event)"
						 ng-class-odd="'odd'" ng-class-even="'even'">

						<!-- 1 PER ROW COUNT AND CHECK BOX -->
						<td>
							<span id='numberWrapForFade{{$index}}'>
							{{$index}}
							</span>

							<!--ustodo[$index].html.indexOf("http"):{{this.ustodos[$index].html.indexOf("http")}}-->
							<!--&nbsp;<input ng-click='testButton($index)' id='idcheckbox{{ustodo.html}}"' type="checkbox"/>-->
							<!--&nbsp;<input ng-click='checkBoxClickedSingle(ustodos[$index]._id)' id='idcheckbox{{$index}}' class='chkbox' title='Select for bulk operation' type="checkbox"/>-->
							&nbsp;<input ng-click='checkBoxClickedSingle($index)' id='idcheckbox{{$index}}' class='chkbox' title='Select for bulk operation' type="checkbox"/>
							<!--&nbsp;<input ng-click='testButton($index)' id='idcheckbox"' type="checkbox"/>-->
						</td>

						<!-- 2 PER ROW DELETE BUTTON -->
						<td>
							<!-- trash garbage icon -->
							&nbsp;&nbsp;<img class="per-row-icons-trashimage" ng-src="/img/gnome_edit_delete.png"
											 alt="{{image.name}}"  title='Delete immediately'
											 ng-click="deleteDbUstotoOneByIndex([$index])"
								>
							&nbsp
							<!--ng-show="nowShowing==$index"-->
							<!--ng-repeat="image in images"-->
							<!--class="gallery-image fade-animation"-->
						</td>

						<!-- 3 PER ROW SAVE BUTTON -->
						<td>
							<!--<button ng-click="count = count + 1" ng-init="count=0">-->
							<!--<button ng-click="alignAnUstodoWithUstodoHtmlByIndex($index)">SAV</button>-->

							<!--<img height=15 ng-src="/img/gnome_edit_save.jpg"-->

							<img class="per-row-icons" ng-src="/img/saveIcon.jpg" title='Save changes (if any)'
								 alt="{{image.name}}"
								 ng-click="saveUstodoGiven(ustodo, $index)"
									>
							&nbsp;
						</td>

						<!-- PER ROW COUNT -->
						<!--<td>{{$index+1}} <span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>-->

						<!-- 4 PER ROW TIME AGO -->
						<!--<td>&nbsp;<span class="per-row-count" data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod) + ustodo.datelastmod+'.'+ustodo._id"-->
						<td>&nbsp;<span class="per-row-count" data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)"
										ng-click="event_click_timeAgo(ustodo._id)"
										title={{ustodo.datelastmod+'.'+ustodo._id+'ClickForID'}}></span>
						</td>
						<!--<td>{{ ustodo.text}}</td>f-->

						<!-- 5 PER ROW TEXT CONTENTEDITABLE ROW -->
						<span class='hkcssContentedit' >
							<td style="xxwidth:90%;
								word-wrap: break-word;
								white-space: nowrap;
								//overflow: auto;
								/*visible|hidden|scroll|auto|initial|inherit*/
								/*-moz-hyphens:auto;*/
								/*-webkit-hyphens:auto;*/
								/*-o-hyphens:auto;*/
								/*hyphens:auto;*/
								">

								<!--ng-bind-html="ustodosFiltered[$index].html">-->
								<!--ng-bind-html="processThis(ustodosFiltered[$index].html)"-->
								<div class="WholePage" id="ustodorow{{$index}}" contenteditable="true"
									 ng-focus='hkngfocustest($index)'
									 ng-keyup="onKeyUp_perrow_text($event, $index, ustodosFiltered[$index]._id)"
									 ng-bind-html="preparePerRowHtml(ustodosFiltered[$index].html)"
										>

								</div>
							</td>
							<!--/onclick = "this.contentEditable = true;"-->
						</span>
					</tr>
				</div>
			</table>
		</div>

	<!--<span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span>f-->
	<!--<span id="contentx{{$index}}" contenteditable="true"f-->
	<!--onclick = "this.contentEditable = true;"f-->
	<!--onmouseover="this.contentEditable = false;f-->
	<!--this.ustodo_innerhtmlpre = this.innerHTML;"f-->
	<!--onmouseout = "this.contentEditable = false;f-->
	<!--"f-->
	<!--ng-bind-html="ustodos[$index].html"></span>f-->
	</span>
	<!--<section class="navbar-fixed-bottom" style="background-color:pink"-->
			 <!--data-ng-controller="FooterController"-->
			 <!--ng-init="keyCount=0;ngInitTopLevel()">-->
		<!--&lt;!&ndash;Dirty[<span ng-bind="singlePageStatesFactory['modelDirty']" ></span>]&ndash;&gt;-->
		<!--Dirty[<span ng-bind='modelDirty' ></span>]-->

		<!--footerhk-->
	<!--</section>-->
	<!--<div data-ng-include="'/modules/core/views/footer.client.view.html'" class="navbar-fixed-bottom"></div >-->


</section>



