<div ng-address-bar style="top:0px"></div>

<!-- hbklrb5 invoked by core client routes -->


<section class="WholePage"
		 data-ng-controller="SinglepageUstodosController"
		 style="top:0px"
		 data-ng-init="ngInitTopLevel()">









	<!--<div data-ng-include="'/modules/ustodos/views/singlepage-ustodos-top-part.client.view.html'"></div>-->

	<!--<div data-ng-include="'/modules/core/views/footer.client.view.html'" class="navbar-fixed-bottom"></div >-->

	<span id='topDivInFindUstodos'
		  style="
		 	border-width:0px medium thick 10px; top:0px;
			display:none;
		 	xxbackground-color:lightblue;
		 	display:inline-block;
		 ">
		<!--<section data-ng-controller="UstodosController" ng-keydown="count = count + 4;" ng-init="count=0">-->
		<!--<input type="text" ng-model="currentVisibleCounter"/>-->

		<!--<button ng-click="yyutdact()">Do</button>-->

		<!--<button ng-init='ngInitTinyMceButton()' ng-click="testTinyMce()">testTinyMce()</button>-->
		<!--<button xxng-init='xxtoggleReadOnly()' ng-click="toggleReadOnly()">toggleReadOnly CK EDIT()</button>-->
		<!--<input focus-on="focusMe"/>-->
		<!--<input class="hkToolbarElement" type='image' style="height:20px;"-->
		<!--ng-click='toggleVisibilityToNext()'-->
		<!--src='modules/ustodos/img/UsToDoanimalsblack.jpg'-->
		<!--title="Next Editor"-->
		<!--style='height:32px;'-->
		<!--/>-->
		<button ng-click="alert('hi mom')">Allalerty1</button>
		<!--hbkhbk3-->
		<iframe id="idPerRowIframeTop" class="classPerRowIframe" >
		</iframe>

		<span ng-keyup='onKeyUp("line 63", $event, this.ENUM_KEYEVENTCALLER_KEYUPSPAN)'>

			<!--<input class="hkToolbarElement" type='image'-->
			<!--ng-click='toggleVisibilityToNext()'-->
			<!--src='modules/ustodos/img/UsToDoanimalsblack.jpg'-->
			<!--title="toggleVisibilityToNext"-->
			<!--style='height:32px;'-->
			<!--/>-->
			<!-- section_3_inputs
			 .----------------. .----------------. .----------------. .-----------------..----------------. .----------------. .----------------. .----------------.
			| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
			| |    ______    | | |              | | |     _____    | | | ____  _____  | | |   ______     | | | _____  _____ | | |  _________   | | |    _______   | |
			| |   / ____ `.  | | |              | | |    |_   _|   | | ||_   \|_   _| | | |  |_   __ \   | | ||_   _||_   _|| | | |  _   _  |  | | |   /  ___  |  | |
			| |   `'  __) |  | | |              | | |      | |     | | |  |   \ | |   | | |    | |__) |  | | |  | |    | |  | | | |_/ | | \_|  | | |  |  (__ \_|  | |
			| |   _  |__ '.  | | |              | | |      | |     | | |  | |\ \| |   | | |    |  ___/   | | |  | '    ' |  | | |     | |      | | |   '.___`-.   | |
			| |  | \____) |  | | |              | | |     _| |_    | | | _| |_\   |_  | | |   _| |_      | | |   \ `--' /   | | |    _| |_     | | |  |`\____) |  | |
			| |   \______.'  | | |   _______    | | |    |_____|   | | ||_____|\____| | | |  |_____|     | | |    `.__.'    | | |   |_____|    | | |  |_______.'  | |
			| |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |              | |
			| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
			 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
			-->
			<!-- ================ INPUT#3 ======================== -->
			<div id='idDivForTinyMceEditorTextarea'>
				<!--was Search / Input-->
				<textarea xxng-blur="eventBlur3mce()" id="idTinyMceTextArea"></textarea>
				<button ng-click="testButton(-2)" title="testButton2">Test</button>
				<button ng-click="processCommand(enumCommands.COMMAND_SEARCH, $scope.enumProcessCommandCaller.HTMLSTARALLBUTTON, '*', '*')" title="yy">
					All
				</button>
				<button ng-click="processCommand(enumCommands.COMMAND_SEARCH, $scope.enumProcessCommandCaller.HTMLSTARALLBUTTON, 'timing', 'timing')" title="xx">
					Timing
				</button>
			</div>


			<!-- hbkhbk -->
			<div id='idDivMainContentEditableInput' contenteditable="true" style='background-color:lightgrey'
				 ng-keyup="onKeyUp_MainContentEditable($event)"
				 ng-bind-html="ustodosFiltered[$index].html"
			>
				<!--was Search / Input-->
			</div>


			<!-- section_ABOVE_TABLE_CHECKALL_ETC
			 .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
			| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
			| |      __      | | |   ______     | | |     ____     | | | ____   ____  | | |  _________   | | |              | | |  _________   | | |      __      | | |   ______     | | |   _____      | | |  _________   | | |              | | |     ______   | | |  ____  ____  | | |  _________   | | |     ______   | | |  ___  ____   | | |   ______     | | |     ____     | | |  ____  ____  | | |              | | |  _________   | | |  _________   | | |     ______   | |
			| |     /  \     | | |  |_   _ \    | | |   .'    `.   | | ||_  _| |_  _| | | | |_   ___  |  | | |              | | | |  _   _  |  | | |     /  \     | | |  |_   _ \    | | |  |_   _|     | | | |_   ___  |  | | |              | | |   .' ___  |  | | | |_   ||   _| | | | |_   ___  |  | | |   .' ___  |  | | | |_  ||_  _|  | | |  |_   _ \    | | |   .'    `.   | | | |_  _||_  _| | | |              | | | |_   ___  |  | | | |  _   _  |  | | |   .' ___  |  | |
			| |    / /\ \    | | |    | |_) |   | | |  /  .--.  \  | | |  \ \   / /   | | |   | |_  \_|  | | |              | | | |_/ | | \_|  | | |    / /\ \    | | |    | |_) |   | | |    | |       | | |   | |_  \_|  | | |              | | |  / .'   \_|  | | |   | |__| |   | | |   | |_  \_|  | | |  / .'   \_|  | | |   | |_/ /    | | |    | |_) |   | | |  /  .--.  \  | | |   \ \  / /   | | |              | | |   | |_  \_|  | | | |_/ | | \_|  | | |  / .'   \_|  | |
			| |   / ____ \   | | |    |  __'.   | | |  | |    | |  | | |   \ \ / /    | | |   |  _|  _   | | |              | | |     | |      | | |   / ____ \   | | |    |  __'.   | | |    | |   _   | | |   |  _|  _   | | |              | | |  | |         | | |   |  __  |   | | |   |  _|  _   | | |  | |         | | |   |  __'.    | | |    |  __'.   | | |  | |    | |  | | |    > `' <    | | |              | | |   |  _|  _   | | |     | |      | | |  | |         | |
			| | _/ /    \ \_ | | |   _| |__) |  | | |  \  `--'  /  | | |    \ ' /     | | |  _| |___/ |  | | |              | | |    _| |_     | | | _/ /    \ \_ | | |   _| |__) |  | | |   _| |__/ |  | | |  _| |___/ |  | | |              | | |  \ `.___.'\  | | |  _| |  | |_  | | |  _| |___/ |  | | |  \ `.___.'\  | | |  _| |  \ \_  | | |   _| |__) |  | | |  \  `--'  /  | | |  _/ /'`\ \_  | | |              | | |  _| |___/ |  | | |    _| |_     | | |  \ `.___.'\  | |
			| ||____|  |____|| | |  |_______/   | | |   `.____.'   | | |     \_/      | | | |_________|  | | |   _______    | | |   |_____|    | | ||____|  |____|| | |  |_______/   | | |  |________|  | | | |_________|  | | |   _______    | | |   `._____.'  | | | |____||____| | | | |_________|  | | |   `._____.'  | | | |____||____| | | |  |_______/   | | |   `.____.'   | | | |____||____| | | |   _______    | | | |_________|  | | |   |_____|    | | |   `._____.'  | |
			| |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | | |              | | |              | | |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | |
			| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
			 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
			 -->
		</span>
		<span id='hkidtoolbars' style="display: none">
			<!-- section_toolbar
			.----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
			| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
			| |  _________   | | |     ____     | | |     ____     | | |   _____      | | |   ______     | | |      __      | | |  _______     | |
			| | |  _   _  |  | | |   .'    `.   | | |   .'    `.   | | |  |_   _|     | | |  |_   _ \    | | |     /  \     | | | |_   __ \    | |
			| | |_/ | | \_|  | | |  /  .--.  \  | | |  /  .--.  \  | | |    | |       | | |    | |_) |   | | |    / /\ \    | | |   | |__) |   | |
			| |     | |      | | |  | |    | |  | | |  | |    | |  | | |    | |   _   | | |    |  __'.   | | |   / ____ \   | | |   |  __ /    | |
			| |    _| |_     | | |  \  `--'  /  | | |  \  `--'  /  | | |   _| |__/ |  | | |   _| |__) |  | | | _/ /    \ \_ | | |  _| |  \ \_  | |
			| |   |_____|    | | |   `.____.'   | | |   `.____.'   | | |  |________|  | | |  |_______/   | | ||____|  |____|| | | |____| |___| | |
			| |              | | |              | | |              | | |              | | |              | | |              | | |              | |
			| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
			'----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
			-->

			<input class="hkToolbarElement" type='image' style="border:0px solid gray;height:20px;"
				   ng-click="clearText()"                src='/img/ClearText.png'
				   title="Clear Text"
					/>
			&nbsp;
			<input class="hkToolbarElement" type='image' style="border:0px solid gray;height:20px;"
				   ng-click="processCommand(enumCommands.COMMAND_SEARCH, $scope.enumProcessCommandCaller.HTMLSTARALLBUTTON, '*', '*', '*')"                src='/img/Asterisk.png'
				   title="Search all"
					/>
			&nbsp;
			<!--<input class="hkToolbarElement" type='image'  style='height:25px;'-->
			<!--ng-click='toggleVisibilityTo2()'                src='/img/input2.png'-->
			<!--title="Rich Editor (CKEditor)"-->
			<!--/>-->

			<!--<input class="hkToolbarElement" type='image'  style='height:25px;'-->
			<!--ng-click='toggleCkeToolebar()'                src='/img/input2.png'-->
			<!--title="Rich Editor (CKEditor) click to add toolbars = no mouseover"-->
			<!--/>-->

			<!--<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">-->
			<!--<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">-->


			&nbsp;<input type="checkbox" title="Dynamic Search (as you type)" id='idcheckbox_dynammicSearch' ng-model=dynamicSearch  />LiveFilter
			&nbsp;<input type="checkbox" title="Update search results display after a write/save" id='idcheckbox_modelCheckboxUpdateOnWrite' ng-model=modelCheckboxUpdateOnWrite  />UpdateOnWrite
			&nbsp;<input type="checkbox" title="if checked, control+enter submits a command while enter is just a line feed (allows multiline record entries)" id='idcheckbox_modelCheckboxCtrlEnterToSave' ng-model=modelCheckboxCtrlEnterToSave  />CtrlEnterToSave
			&nbsp;<input type="checkbox" title="reload warnings on"  id='idcheckbox_reloadWarning' ng-model=reloadWarning />reloadWarn
			&nbsp;<input type="checkbox" ng-Change="eventNgChange_idcheckbox_includeMceHtmlPasteFilter()" title="On means clean HTML on rich text paste"  id='idcheckbox_includeMceHtmlPasteFilter' ng-model=includeMceHtmlPasteFilter />MCE Paste Filter

			<!--archetype prototype - conditional tag display by variable true false binding-->
			<!--<img id='imageIdRedPEncilbnw' src='/img/EditPencilBnW.png' xxstyle="visibility:hidden" alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">-->
			<!--<img id='imageIdRedPEncil'    src='/img/EditPencilRed.png' style="visibility:hidden" alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">-->

			<!--<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">-->
			<!--<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">-->
			<!--<img src='/img/EditPencil.png' alt="Smiley face" height="42" width="42" data-ng-show="SppSvc.getModelDirty()">-->
			<!--<img src='/img/EditPencilBnW.png' alt="Smiley face" height="42" width="42" data-ng-hide="SppSvc.getModelDirty()">-->



			<!--xx&nbsp;<span ng-model=$scope.lockMouseover> </span>yy-->
			<!--<span ng-bind-html='$scope.lockMouseover'></span>-->

			<!--DynamicSearch [<span ng-bind='dynamicSearch'></span>]-->

			<!--<a ui-sref="HKTestSref2">ui-sref=HKTestSref2</a>-->

			<br>
			<span style="xxbackground-color: cornflowerblue ">
				<span>
					&nbsp;<input unchecked ng-click='checkBoxClickedToggleAll()' title='Check or uncheck all' id='checkBoxAll' type="checkbox"/>

					&nbsp;<img class="per-row-icons-trashimage" ng-src="/img/gnome_edit_delete.png"
							   alt="{{image.name}}"  title='Delete Selected'
							   ng-click="operationOnChecked_Delete()"
					>

					<span style="display: inline-block width:500px" ng-bind='numberCheckboxesChecked'></span>

					&nbsp;
				</span>
				<span class='classSpanSearchedFor' title='Current search.  Mouse over copies this to the input area (if not in edit mode).'
					  ng-mouseover='this.eventMouseoverCurrentSearch()'>
					Search
					<span class='classSpanSearchedForSearchText' ng-mouseover='this.eventMouseoverCurrentSearch()'>
						[<span ng-bind='searchedFor'></span>]
					</span>
				</span>

				<span class='classSpanSearchedFor'>
					Filter
				</span>

				<input id="idInputTextFilter"  type="text" title='Restrict/filter within search result' name="input" ng-model="filterText"  ng-keyup='updateUstodosFiltered(filterText)'
					   xxng-pattern="example.word" required ng-trim="false" >

				<span class='classSpanSearchedFor'>
					Showing
					<span class='classSpanSearchedForSearchText' >
						<span ng-bind=(this.ustodosFiltered.length)></span >
						<span class='classSpanSearchedFor'>of</span>
						<span ng-bind=(this.ustodos.length)></span >
					</span>
				</span>

				&nbsp;

					<!-- ======================== SELECT DROPDOWN ONE OF 20 ACTIONS -->
				<select
						id='selectId'
						ng-change="this.utdEventSelectedEngine()"
						ng-model="this.commands[0]"
						title='select command to apply to the entered text'
						ng-options="command as command.commandDescription2 for
					command in commands | orderBy:'commandDescription2'"
						ng-mouseover="showSelectDropdown()"
						>
				</select>

				<!-- ========================= SECTION_FILTER ICON AND TEXTBOX ===================== -->
				<img ng-src="/img/filterIcon2.jpg" class="per-row-icons-trashimage"
					 alt="{{image.name}}"  title='Filter within search results below'
					 xxxxng-mouseover="this.filterToLinksOnly ()"
					 xxng-click="this.filterToLinksOnly ()"
						>
				&nbsp;

				<!-- RESEARCH SECTION_FILTER ICON AND TEXTBOX -->
				<!--Filter: <span ng-bind=('('+this.searchedFor+'+'+this.filterText+')')  ng-mouseover="this.eventMouseoverRow3(this.searchedFor)"-->


				<!--<button ng-click="this.buttonClickSearchStar()">*</button>-->
				<!--<button ng-click="this.buttonClickSearchClear()">Clear</button>-->

				<!--<WORKS p ng- repeat="command in commands">{{command}}</p>-->

				<!--<div id='div' contenteditable='true' onpaste='handlepaste(this, event)'>Paste</div>-->
				<!--hbkk 1510 -->
				<span id='div' contenteditable='true' onpaste='UtilHtmlCleaner.handlepaste (this, event)'>PasteIntoContentEditableTest</span>
			</span>


			<button ng-click="testButton(-2)" title="testButton">TestButton</button>


			<!--<div ng-controller="Ctrl1">-->
				<!--<h2>Ctrl1 - List</h2>-->
				<!--<ul>-->
					<!--<li ng- repeat="item in list1()">{{item}}</li>-->
				<!--</ul>-->
			<!--</div>-->
			<!--<hr />-->
			<!--<div ng-controller="Ctrl2">-->
				<!--<h2>Ctrl2 - Add</h2>-->
				<!--<form ng-submit="add(newItem); newItem = '';">-->
					<!--<input type="text" ng-model="newItem">-->
					<!--<br />-->
					<!--<input class="btn" type="submit">-->
				<!--</form>-->
			<!--</div>-->
		</span>




		<!--<br><a ng-href="http://google.com/search?q={{this.searchedFor}}">http://google.com/search?q={{this.searchedFor}}</a>-->
		<!--<br><a ng-href="{{this.searchedForAsLink}}">{{this.searchedForAsLink}}</a>-->

		<!--<button ng-click="testButton(-2)">TestButton</button>-->
		<!--<p ng- repeat="operator in operators">{{operator.commandDescription}}</p>-->

		<div id='hbkdiv1'
			 style='xxheight:300px;
				overflow:auto;
				'
			>
			<!-- hbkk 1509 hktable -->
			<table id='maincsstableid'>
				<!--<col style="width:2%">-->
				<!--<col style="width:2%">-->
				<!--<col style="width:2%">-->
				<!--<col style="width:2%">-->
				<!--<col style="width:2%">-->
				<!--<tr ng- repeat="ustodo in ustodos ">f-->
				<!--&lt;!&ndash; timeAgo &ndash;&gt;f-->
				<!--<td><span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>f-->
				<!--&lt;!&ndash; html &ndash;&gt;f-->
				<!--<td>f-->
				<!--<span contenteditable="true"f-->
				<!--onclick = "this.contentEditable = true;"f-->
				<!--ng-bind-html="ustodos[$index].html"></span>f-->
				<!--</td>f-->
				<!--</tr>f-->

				<!--<button ng-click="alert ('ff')" ng-init="count=0">-->
				<!--  SECTION_PER_ROW PERROW section_perrow
				 .----------------. .----------------. .----------------. .----------------. .----------------. .----------------. .----------------.
				| .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. | .--------------. |
				| |   ______     | | |  _________   | | |  _______     | | |              | | |  _______     | | |     ____     | | | _____  _____ | |
				| |  |_   __ \   | | | |_   ___  |  | | | |_   __ \    | | |              | | | |_   __ \    | | |   .'    `.   | | ||_   _||_   _|| |
				| |    | |__) |  | | |   | |_  \_|  | | |   | |__) |   | | |              | | |   | |__) |   | | |  /  .--.  \  | | |  | | /\ | |  | |
				| |    |  ___/   | | |   |  _|  _   | | |   |  __ /    | | |              | | |   |  __ /    | | |  | |    | |  | | |  | |/  \| |  | |
				| |   _| |_      | | |  _| |___/ |  | | |  _| |  \ \_  | | |              | | |  _| |  \ \_  | | |  \  `--'  /  | | |  |   /\   |  | |
				| |  |_____|     | | | |_________|  | | | |____| |___| | | |   _______    | | | |____| |___| | | |   `.____.'   | | |  |__/  \__|  | |
				| |              | | |              | | |              | | |  |_______|   | | |              | | |              | | |              | |
				| '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' | '--------------' |
				 '----------------' '----------------' '----------------' '----------------' '----------------' '----------------' '----------------'
				-->

				<!-- SECTION__ NG- REPEAT NG-IF FILTER PER ROW EXPERIMENTAL -->
				<!--<tr  ng- repeat="ustodo in ustodosFiltered"-->
				<!--<tr  ng- repeat="ustodo in ustodosFiltered"-->
				<!--<tr  ng- repeat="ustodo in ustodosFiltered | filterUstodos:filterText"-->
				<!--<tr  ng- repeat="ustodo in ustodosFiltered | filterUstodos:filterText"-->

				<!--//height:80em;-->
				<tbody
						style='
    					overflow:scroll;
						width:100%;
						height:85%;
						/*top:5px;*/
						z-index: 0;
						/*background-color: lightgrey;*/
						position:static;
    					'
					>
					<div id='perRowOnly'>
							 <span id="topLevelTableRow{{$index}}"
									 ng-mouseover="this.eventMouseoverRow2($index)"
									 ng-keyup="event=$event; myFnOnKeyUp($index, $event)" ng-keydown="myFnOnKeyDown($index, $event)"
							 >

								<tr  ng-repeat='ustodo in ustodosFiltered'
									 ng-class-odd="'odd'"
									 ng-class-even="'even'"
									 ng-mouseover="this.eventMouseoverRow2($index)"
									 repeat-done="layoutDone()"
									 on-finish-render="ngRepeatFinished"
									 ng-cloak
								>


									<!-- 1 PER ROW COUNT AND CHECK BOX -->
									<td style="width:3%">
										<span id='numberWrapForFade{{$index}}'>
										{{$index+1}}
										</span>

										<!--ustodo[$index].html.indexOf("http"):{{this.ustodos[$index].html.indexOf("http")}}-->
										<!--&nbsp;<input ng-click='testButton($index)' id='idcheckbox{{ustodo.html}}"' type="checkbox"/>-->
										<!--&nbsp;<input ng-click='checkBoxClickedSingle(ustodos[$index]._id)' id='idcheckbox{{$index}}' class='chkbox' title='Select for bulk operation' type="checkbox"/>-->
										&nbsp;<input ng-click='checkBoxClickedSingle($index)' id='idcheckbox{{$index}}' class='chkbox' title='Select for bulk operation' type="checkbox"/>
										<!--&nbsp;<input ng-click='testButton($index)' id='idcheckbox"' type="checkbox"/>-->
									</td>

									<!-- 2 PER ROW DELETE BUTTON -->
									<td style="width:3%">
										<!-- trash garbage icon -->
										&nbsp;&nbsp;<img class="per-row-icons-trashimage" ng-src="/img/gnome_edit_delete.png"
														 alt="{{image.name}}"  title='Delete immediately'
														 ng-click="deleteDbUstotoOneByIndex([$index])"
											>
										&nbsp
										<!--ng-show="nowShowing==$index"-->
										<!--ng- repeat="image in images"-->
										<!--class="gallery-image fade-animation"-->
									</td>

									<!-- 3 PER ROW SAVE BUTTON -->
									<td style="width:3%" >
										<!--<button ng-click="count = count + 1" ng-init="count=0">-->
										<!--<button ng-click="alignAnUstodoWithUstodoHtmlByIndex($index)">SAV</button>-->

										<!--<img height=15 ng-src="/img/gnome_edit_save.jpg"-->

										<img id="savimg{{$index}}" class="per-row-icons" ng-src="/img/saveIcon.jpg" title='Save changes (if any)'
											 alt="{{image.name}}"
											 ng-click="saveUstodoGiven(ustodo, $index)"
												>
										&nbsp;
									</td>

									<!-- PER ROW COUNT -->
									<!--<td>{{$index+1}} <span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span></td>-->




									<!-- 4 PER ROW TIME AGO -->
									<!--<td>&nbsp;<span class="per-row-count" data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod) + ustodo.datelastmod+'.'+ustodo._id"-->
									<td style="width:3%">
										&nbsp;
										<span class="per-row-count"
													data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)"
													ng-click="event_click_timeAgo(ustodo._id)"
													title={{ustodo.datelastmod+'.'+ustodo._id+'ClickForID'}}>
										</span>
									</td>
									<!--<td>{{ ustodo.text}}</td>f-->

									<!--&lt;!&ndash; 4.5 PER ROW DELETED DEBUG INFO &ndash;&gt;-->
									<!--<td>&nbsp;Del [<span class="per-row-count" data-ng-bind="ustodo.deleted"></span>]-->
									<!--</td>-->

									<!-- 4.5 USER NAME-->
									<td style="font-size:12px; width:6%;overflow: hidden">
											&nbsp;<span xxclass="per-row-count" data-ng-bind="ustodo.user.username"
											  ></span>
									</td>


									<!--test hbkhbk see createOrSave in ustodos.server.controller.js -->
									<td alt={{ustodo.arrUrlUtdsFromHtml[0].title}}  style="font-size:12px; width:6%;overflow: hidden">
										&nbsp;<span data-ng-bind="ustodo.arrUrlUtdsFromHtml[0].title"
									></span>
									</td>


									<!-- 4.5 DISPLAY NAME-->
									<!--<td style="font-size:12px; width:6%;overflow: hidden">-->
										<!--&nbsp;<span xxclass="per-row-count" data-ng-bind="ustodo.user.displayName"-->
											  <!--&gt;</span>-->
									<!--</td>-->
									<!--<td>{{ ustodo.text}}</td>f-->


									<!--&lt;!&ndash; 4.5 PER ROW DELETED DEBUG INFO &ndash;&gt;-->
										<!--<td>&nbsp;Del [<span class="per-row-count" data-ng-bind="ustodo.deleted"></span>]-->
									<!--</td>-->


									<!-- 4.75 USER ID -->
									<!--<td style="font-size:8px; width:6%;overflow: hidden">-->
											<!--&nbsp;<span xxclass="per-row-count" data-ng-bind="ustodo.user._id"-->
									<!--&gt;</span>-->
									<!--</td>-->






									<!-- 5.0 PER ROW TEXT CONTENTEDITABLE ROW -->
									<td
										id="idConentEditableRow{{$index}}"
										style='xxwidth:50%;
										word-wrap: break-word;
										zzbackground-color: yellow;
										white-space: nowrap;
										overflow: auto;'
									/*visible|hidden|scroll|auto|initial|inherit*/
									/*-moz-hyphens:auto;*/
									/*-webkit-hyphens:auto;*/
									/*-o-hyphens:auto;*/
									/*hyphens:auto;*/

									>
									<!--ng-bind-html="preparePerRowHtml(ustodosFiltered[$index].html)" hbkhbk-->
									cc{{$index}}dd
									<!--<iframe id="idPerRowIframe{{$index}}" >-->
									<!--</iframe >-->
									<!--&lt;!&ndash;hbkhbk3&ndash;&gt;-->

										<span class='hkcssContentedit' >
											<div class="WholePage focusblurme"
												 state="nonIframed"
												 id="ustodorow{{$index}}"
												 hkindex="{{$index}}"
												 hkustodoid="{{ustodo._id}}"

												 contenteditable="true"
												 xxonpaste='UtilHtmlCleaner2_pasteProcessForContentEditable.handlepaste (this, event)'
												 ng-focus='hkngfocustest($index)'
												 ng-keyup="onKeyUp_perrow_text($event, $index, ustodosFiltered[$index]._id)"
												 ng-bind-html="ustodosFiltered[$index].html"
											>
											</div>
										</span>


									<!--/onclick = "this.contentEditable = true;"-->
									</td>
								</tr>
							</span>
					</div>

				</tbody>
			</table>
		</div>

	<!--<span data-ng-bind="UtilDate.timeAgo(ustodo.datelastmod)" title={{UtilDate.dateObjFromMongoString(ustodo.datelastmod).toString()}}></span>f-->
	<!--<span id="contentx{{$index}}" contenteditable="true"f-->
	<!--onclick = "this.contentEditable = true;"f-->
	<!--onmouseover="this.contentEditable = false;f-->
	<!--this.ustodo_innerhtmlpre = this.innerHTML;"f-->
	<!--onmouseout = "this.contentEditable = false;f-->
	<!--"f-->
	<!--ng-bind-html="ustodos[$index].html"></span>f-->
	</span>
	<!--<section class="navbar-fixed-bottom" style="background-color:pink"-->
			 <!--data-ng-controller="FooterController"-->
			 <!--ng-init="keyCount=0;ngInitTopLevel()">-->
		<!--&lt;!&ndash;Dirty[<span ng-bind="singlePageStatesFactory['modelDirty']" ></span>]&ndash;&gt;-->
		<!--Dirty[<span ng-bind='modelDirty' ></span>]-->

		<!--footerhk-->
	<!--</section>-->
	<!--<div data-ng-include="'/modules/core/views/footer.client.view.html'" class="navbar-fixed-bottom"></div >-->

	<script>


		$(document).ready(function() {
			//alert('in view file (document).ready');
			var elemId = 'mceu_57';
			//if (document.getElementById(elemId) !== null)
			//{
				//alert ('1123123');
				//	if (document.getElementById('mceu_57').style.visibility==='hidden')
				//		document.getElementById('mceu_57').style.visibility='visible';
				//	else
				//		document.getElementById('mceu_57').style.visibility='hidden';
				//if (document.getElementById(elemId).style.visibility==='visible')
				//{
				//document.getElementById(elemId).style.visibility='hidden';
				//alert ('1123123c');

				//}
				//else
				//	document.getElementById(elemId).style.visibility='hidden';
			//}

			//document.getElementById('imageIdRedPEncilbnw').width= 1000;
			//alert ("asdasda:"+document.getElementById('imageIdRedPEncil').style.visibility);
			//document.getElementById('imageIdRedPEncil').style.visibility='visible';

			//alert ('ttttttt in ready ['+ document.getElementById('imageIdRedPEncilbnw').width +']');
			//document.getElementById('imageIdRedPEncilbnw').width = 200;
//			document.getElementById('imageIdRedPEncil').style.visibility='visible';

//			setTimeout(function(){
//				//alert ('you stopped typing seconds are up - filter  !!');
//				document.getElementById('imageIdRedPEncil').style.visibility='visible';
//			}
//			,500); // millisecond timer



		});
	</script>
</section>





