{% extends 'layout.server.view.html' %}
<!--this file is invoked due to core.server.routes.js saying app.route('/').get(core.index)-->

<!--hbklrb3-->
<!-- was contentxxy pairs with C:\utd\150719utdG\app\views\layout.server.view.html -->
{% block contentxxx %}
	<!-- embeds HOME.CLIENT.VIEW.HTML data-ui-view by magic -->
	<!-- no - better I think: embeds
		in core.client.routes.js
		state('home',
		templateUrl: 'modules/ustodos/views/singlepage-ustodos.client.view.html
		rather than data-ui-view by magic -->
	<section data-ui-view></section>
{% endblock %}
