<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!--see also for server side U_setup.js -->

<head>
	<!--Application CSS Files-->



	<!--{% for cssFile in cssFiles %}-->
		<!--<link rel="stylesheet" href="{{cssFile}}">-->
	<!--{% endfor %}-->



	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<![endif]-->

	<!--<script type="text/javascript" src="/lib/tinymce3/tiny_mce.js"></script>-->

	<!-- hhkk3 -->
	<script type="text/javascript" src="/util/U_setup.js"></script>
    <!--<script type="text/javascript" src="bundle.js"></script>-->


	<script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/lib/jquery-layout/jquery.layout-latest.js"></script>
	<!--<script type="text/javascript" src="/lib/tinymce4obsolete/tinymce.min.js"></script>-->
    <script type="text/javascript" src="/lib/tinymce425/js/tinymce/tinymce.min.js"></script>

	<!--// list server utils U_setup.js-->
	<!--// client files go here C:\utd\150719utdG\app\views\layout.server.view.html-->
	<!-- keep just U_o in browserify land: entry.js > bundle.js -->
	<!--<script type="text/javascript" src="/util/U_o.js"></script>-->

	<script type="text/javascript" src="/util/UtilError.js"></script>
	<script type="text/javascript" src="/util/UtilIdle.js"></script>
	<script type="text/javascript" src="/util/UtilString.js"></script>
	<script type="text/javascript" src="/util/UtilClass.js"></script>
	<script type="text/javascript" src="/util/UtilDate.js"></script>
	<script type="text/javascript" src="/util/UtilJsTypeDetect.js"></script>
	<script type="text/javascript" src="/util/UcHtmlDocManipulate.js"></script>

	<script type="text/javascript" src="/util/NLB_bgFade.js"></script>
	<script type="text/javascript" src="/util/UtilHtmlCleaner.js"></script>
    <!--<script type="text/javascript" src="/util/UcHtmlDocManipulate.js"></script>-->
    <!--<script src="/lib/ustodo-browser-util/TinymcePasteCleanFilter.js"></script>-->
	<!-- <script type="text/javascript" src="/lib/ckeditor/plugins/colorbutton/plugin.js"></script> -->

    <!--works sept 2015 <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>-->
    <!--hbk for linky xf-->
    <!--<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js"></script>xf-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular-sanitize.js"></script>xf-->
    <!--<script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>xf-->


</head>

<body class="ng-cloak">






<div class="ui-layout-center">












<!--<div class="ui-layout-center" >-->
	<!--section_header-->

	<!--section_content-->
	<section class="content">
		<section class="container-fluid">
			<!-- marries in {% block contentXXYYOfSameNameCarefulNottoBeSAMe!!!!HERE IN COMMENT %} from index.server.view.html-->
			{% block contentxxx %}{% endblock %}
		</section>
	</section>

<!--</div>-->
	<!--Embedding The User Object-->


	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}
		<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %}


	<!--[if lt IE 9]>
	<![endif]-->

	<!--section_footer-->
	<!--hihk3!!!!!!!!!!!!-->
</div>
<div class="ui-layout-north">North</div>
<div class="ui-layout-south">South</div>
<div class="ui-layout-east">East</div>
<div class="ui-layout-west">West</div>

</body>

<script type="text/javascript">
	$('body').layout({ applyDemoStyles: true });
</script>



</html>
